<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Word counter</h1> 
    <h2>Use this to check how many words are in your document, great to confirm if your essay is long enough</h2>

    <main>
        <form action="{%url 'count'%}">
            <textarea cols="50" rows="10" name="fulltext"></textarea>
            <br/>
            <input type="submit" value="Count!"/> 
        </form>
    </main>
</body>
</html>